@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --orange: #ffa500;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--orange);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2.5rem 0
}

.heading span {
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space {
    background: none;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
}

#menu-bar {
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls {
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, .7);
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .vid-btn.active {
    background: var(--orange);
}

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border: 1rem solid #fff;
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--orange);
}

.gallery .box-container .box .content p {
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem 0;
}

.footer {
    background: #333;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: .7rem 0;
    color: #fff;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    color: var(--orange);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(255, 255, 255, .2);
}

.footer .credit span {
    color: var(--orange);
}


/* media queries  */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-bar {
        display: initial;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .heading span {
        font-size: 2.5rem;
    }
}

body {
    background-color: rgb(195, 228, 241);
}

* {
    box-sizing: border-box
}


/* Style the header with a grey background and some padding */

.header {
    overflow: hidden;
    padding: 15px 10px;
    background: rgb(71, 69, 69);
}


/* Style the header links */

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 8px solid grey;
    border-style: groove;
}


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

.header i {
    margin-right: 4px;
}


/* Change the background color on mouse-over */

.header a:hover {
    background-color: rgb(190, 43, 68);
}

.logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

.logo span {
    color: rgb(255, 94, 0);
}


/* Style the active/current link*/

.header .log {
    color: white;
    font-size: 20px;
    background-color: rgb(223, 19, 53);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border-radius: 5px;
    border: 8px solid grey;
    border-style: outset;
}

.header .log:hover {
    background-color: rgb(223, 46, 15);
}


/* Float the link section to the right */

.header-right {
    float: right;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

body {
    margin: 0;
}


/* div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
} */

.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    background-color: tomato;
}

.services .box-container .box i {
    padding: 1rem;
    font-size: 5rem;
    color: wheat;
}

.services .box-container .box h3 {
    font-size: 2.5rem;
    color: #333;
}

.services .box-container .box p {
    font-size: 1.5rem;
    color: rgb(241, 237, 237);
    text-shadow: 5px 5px 5px 5px purple;
    padding: 1rem 0;
}

.services .box-container .box:hover {
    box-shadow: 0 1rem 2rem black;
}